body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#game-intro {
    width: 500px;
    height: 640px;
}

#start-button {
    display: flex;
    align-items: center;

}

canvas {
    border: 1px solid black;
}